<!DOCTYPE html>
<html>
<head>
    <partial name="_ConnectedSources" />

    <style>
        .store-logo {
            margin: auto 23% auto auto;
        }

        .store-logo a {
            color: white;
        }
    </style>

    <title>@ViewData["Title"]</title>
</head>
<body>
    <header>
        <div class="menu">
            <div class="menu-list">
                <ul>
                    <li><a asp-area="" asp-controller="Catalog" asp-action="Game" asp-route-id="7">Catalog</a></li>
                    <li>Giveaways</li>
                    <li>Contacts</li>
                    <li>
                        <partial name="_LoginPartial" />
                    </li>
                </ul>
            </div>
        </div>
    </header>

    @RenderBody()

    <footer class="footer">
        <div class="main-contacts">
            <p>Contacts:</p>
            <a href="tel: 0">+1-1324-7586-8798</a> <br>
            <a href="tel: 0">+39-1324-7586-8798</a> <br>
            <br>
            <br>
            <a href="mailto: 0?subject=Feedback>">support@store.com</a>
        </div>

        <div class="store-logo logo">
            <a asp-area="" asp-page="/Home/Index">STORE</a>
        </div>
    </footer>

    <script src="~/js/site.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
