<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="~/css/site.css">

    <title>@ViewData["Title"] - Store</title>
</head>
<body>
    <header>
        <div class="menu">
            <div class="menu-list">
                <ul>
                    <li>Catalog</li>
                    <li>Giveaways</li>
                    <li>Contacts</li>
                    <li>
                        <partial name="_LoginPartial" />
                    </li>
                </ul>
            </div>
        </div>
    </header>

    @RenderBody()

    <footer class="footer">
        <div class="main-contacts">
            <p>Contacts:</p>
            <a href="tel: 0">+1-1324-7586-8798</a> <br>
            <a href="tel: 0">+39-1324-7586-8798</a> <br>
            <br>
            <br>
            <a href="mailto: 0?subject=Feedback>">support@store.com</a>
        </div>

        <div class="logo">
            STORE
        </div>
    </footer>

    <script src="~/js/site.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
