@page
@model LoginModel

@{
    Layout = null;
    ViewData["Title"] = "Log in";
}

<head>
    <partial name="_ConnectedSources" />

    <style>
        footer {
            margin-top: 25vh;
        }
    </style>
</head>

<body>
    <div class="login-form">
        <h1 class="register-header">@ViewData["Title"]</h1>

        <section>
            <form id="account" method="post">
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-field">
                    <label asp-for="Input.Email">E-mail:</label>
                    <br />
                    <input asp-for="Input.Email" class="input" />
                    <br />
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <div class="form-field">
                    <label asp-for="Input.Password">Password:</label>
                    <br />
                    <input asp-for="Input.Password" class="input" />
                    <br />
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                    @*<a id="forgot-password" asp-page="./ForgotPassword">Forgot your password?</a>*@
                </div>
                <div>
                    <div class="remember-me">
                        <label asp-for="Input.RememberMe">
                            <input asp-for="Input.RememberMe" />
                            @Html.DisplayNameFor(m => m.Input.RememberMe)
                        </label>
                    </div>
                </div>
                <button type="submit" class="login-button">Log in</button>
                <br />
                <div class="create-account-question">
                    Don't have an account?
                    <a class="create-account-button" asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Create it!</a>
                </div>
            </form>
        </section>
    </div>

    <footer>
        <partial name="_StoreLogo" />
    </footer>
</body>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
