@page
@model RegisterModel
@{
    Layout = null;
    ViewData["Title"] = "Register";
}

<head>
    <partial name="_ConnectedSources" />

    <style>
        footer {
            margin-top: 25vh;
        }
    </style>
</head>

<body>
    <div class="register-form">
        <h1 class="register-header">@ViewData["Title"]</h1>
        <form asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-field">
                <label asp-for="Input.Email">E-mail:</label>
                <br />
                <input asp-for="Input.Email" class="input" />
                <br />
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="form-field">
                <label asp-for="Input.Password">Password:</label>
                <br />
                <input asp-for="Input.Password" class="input" />
                <br />
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="form-field">
                <label asp-for="Input.ConfirmPassword">Re-enter password:</label>
                <br />
                <input asp-for="Input.ConfirmPassword" class="input" />
                <br />
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
            <button type="submit" class="register-button">Register</button>
        </form>
    </div>

    <footer>
        <partial name="_StoreLogo" />
    </footer>
</body>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
